<div ng-controller="IndexController">

  <super-navbar>
      <super-navbar-title>
          Fun &amp; Play
      </super-navbar-title>
  </super-navbar>

  <div class="item item-image ">
      <img src="/images/fun_and_play_background.jpg">
  </div>

  <div class="background-image-container">
      <div class="padding background-image-container__title--fun-and-play"> IDEAS FOR <br> GREAT DATES</div>
  </div>

  <div class="padding main-explanation row" style="background-color: #B9DF3B;">
      <div class="super-information-circled col col-5 col-center"></div>
      <div class="col col-90"> Purposely create play in your lives by trying these suggestions for fun things to do together.</div>
  </div>

  <div class="sub-explanation__text">
      <p>It’s imperative to have fun together as a couple! When you are at a loss for ideas, use these activity suggestions to plan your next outing. Scroll through until you find something you both want to do. You’ll be surprised how just choosing something new or familiar and making it happen fosters closeness and brings joy</p>
  </div>

  <super-navigate view-id="begin-questions">
      <div class="begin-questions">GET STARTED</div>
  </super-navigate>

</div>